<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<connectionStrings>
    <add name="PoprigEntities" connectionString="metadata=res://*/ModelPoprijenok.csdl|res://*/ModelPoprijenok.ssdl|res://*/ModelPoprijenok.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Poprig;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PoprigEntities" connectionString="metadata=res://*/Model.ModelPoprijenok.csdl|res://*/Model.ModelPoprijenok.ssdl|res://*/Model.ModelPoprijenok.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pcsqlstud01;initial catalog=10180023;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>